*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Poppins', sans-serif;

}h1{
    font-size: 50px;

}
.first-color{
    color: orangered;
}
    
.hero-section{
    display: flex;
}
.half-width{
    width: 50%;
    padding-left:5% ;
}
.half-width img{
    width: 50%;
}
.link-button{
    display: inline-block;
    text-decoration: none;
    background-color: tomato;
    margin-top: 20px;
    padding:10px 40px ;
    color: whitesmoke;
    font-weight: 700px;
    border-radius: 6px;



}
p{
    padding-left: 5%;
}
h1{
    text-align: center;
}
.third{
    color: orangered;
}
.half-width2{
    
    padding-left:5% ;
   
    
}
#sapla{
    border-radius: 10px;
}
.half-width2 img{
    width: 50%;
}

.half-width3{
    
    padding-left:5% ;

}
.half-width3 img{
width: 50%;
}

.half-width4{
    
    padding-left:1% ;
    padding-right: 1%;
    
    
   

}
.half-width4 img{
    width: 50%;
    
}

.link-button2{
    text-decoration: none;
    background-color: tomato;
    padding:10px 10px ;
    color: whitesmoke;
    font-weight: 700px;
    border-radius: 6px;}

    .half-width5{
        padding-right:10% ;
    
    }
    .developer-title h1{
        text-align:start ;

    }
    .half-width5 img{
        width: 500px;
    
    }
    .class{
            display: flex;
    }

        .big{
            display: flex;
            margin: 10px;
            padding-right: 10%;
            font-family: 'Poppins', sans-serif;
            
        }
        .lily{
            border-left: 5px solid red;
            padding-right: 10%;
        }
        .lily h1{
            text-align: start;
        }
        .mission-item{
            width: 33.34%;
            margin-right:20px ;
            border-radius: 10px;
        }
        .mission-item1{
            background-color: skyblue;

        }
        .mission-item2{
            background-color: tan;
        }
        .mission-item3{
            background-color: teal;
        }
        

        
        .right img{
            width: 500px;

        }
        

        .one{
            color: tomato;
        }
        .left3 img{
            width: 60%;
        
        

        }
        .left6{
            display: flex;
        }
        .left7{
            text-align: center;
        }.left9{
            color: tomato;
        }
        .left11{
            display: flex;
        }.span1{
            color: tomato;
            
        }
        footer {
            text-align: center;
            background-color:navajowhite;}
            .left1 h1{
text-align: start;
            }



